// Couleurs
$white: #f1f1f1;
$white-dark: #898888;
$accent-color: #50A584;

// Fonts
$montserrat: 'Montserrat', "Helvetica", Arial, sans-serif;
$monumentExtendedRegular: 'MonumentExtented-Regular', "Helvetica", Arial, sans-serif;
$monumentExtendedBold: 'MonumentExtented-UltraBold', "Helvetica", Arial, sans-serif;