@import './../styles/variables';

.App {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-background {
        position: absolute;
        top: -1%;
        left: -1%;
        width: 102%;
        height: 102%;
        background-position: center;
        background-size: cover;
        z-index: -1;
        filter: blur(5px) brightness(38%);
        mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
    }
    
    .divider {
        width: 100%;
        height: 1px;
        background-color: $white;

        &.large {
            margin-top: 7rem;
            margin-bottom: 3rem;
        }

        &.medium {
            margin-top: 3rem;
            margin-bottom: 2.5rem;
        }
    }
}
